FastAPI
Uvicorn
Python-Multipart
Pandas
OpenPyXL
xlrd
fastapi[standard]
tiktoken
openai
pandas
numpy
faiss-cpu
langchain_experimental
PyPDF2
tiktoken
langchain
azure-identity
azure-keyvault-secrets
streamlit
scikit-learn
matplotlib
langchain-community
langchain-openai
openpyxl
tabulate
ipython
langchain-google-vertexai
nltk
tiktoken
seaborn
langchain-google-genai
fastapi[all]
